<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.edu.seu.cose.imusic">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/tt_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/tt_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.IMusic">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".receiver.MusicReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="music.Notification_ACTIONS" />
            </intent-filter>
        </receiver>

        <service
            android:name=".service.MusicService"
            android:enabled="true"
            android:exported="true" />
    </application> <!-- 以下是频谱所需权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 以下是读取外部存储所需权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

</manifest>